<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167279676919-fe8tjtntqr20h1v25mlprspk6rlsj33g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167279676919-fe8tjtntqr20h1v25mlprspk6rlsj33g</string>
	<key>API_KEY</key>
	<string>AIzaSyC9A2SomqsuWAA6Z1uQ9WCBMicpvnRy0Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>167279676919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-60be4</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-60be4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167279676919:ios:48b5fd81edfa313032b2f2</string>
</dict>
</plist>